html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    width: 125px;
    margin: 5px 0;
}

.running-score, .announcement {
    display: flex;
    font-weight: bold;
    margin: 5px 0;
}